
<html lang="en" class="full-height">
  <body>
    <header>
            <!-- Intro Section -->
            <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);">
                <div class="full-bg-img">
                    <div class="container flex-center">
                        <div class="row pt-5 mt-3">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Jasmien De Clercq</strong></h1>
                                    <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                                    <h5 class="text-uppercase mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Cloud Application</strong></h5>
                                    <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" (click)="tryFacebookLogin()">Sign in with Facebook</a> 
                                    <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s" (click)="tryGoogleLogin()">Sign in with Google</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
          </header> 
    </body>
</html>
                                  


