:host{
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
}
ol.type li {
  display: inline-block;
  margin-left: 20px;
}
ol.type li a {
  border: 1px solid #777;
  color: #555;
  padding: 8px 20px;
  background-color: transparent;
  text-decoration: none;
}
h2 {
  margin: 0 0 20px 0;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 30px;
}
.section-title.center {
  padding: 10px 0 40px 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
hr {
  height: 1px;
  width: 150px;
  text-align: center;
  position: relative;
  background: #666;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 0;
}
.categories {
  padding-bottom: 30px;
  text-align: center;
}
ul, ol {
  padding: 0;
  list-style: none;
}

.log_outt:hover, .log_out:focus, .log_out.focus, .log_out:active, .log_out.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}
.log_out{
  border: 1px solid #777;
  color: #555;
  padding: 8px 20px;
  background-color: transparent;
  position: relative;
}