
<button type="button" (click)="logout()" class="btn btn-outline-primary">Logout</button>

<div class="col-7">
    <input type="text" (keyup)="onNameKeyUp($event)" class="form-control" placeholder="Character">
</div>
<button type="button" (click)="getCharacters()" class="btn btn-outline-primary">Get characters</button>
<br>
<div *ngIf="found">

</div>
<ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
